components/services/docs/packagexml.dtd

<!ELEMENT CATEGORIES (CATEGORY)*>

<!ELEMENT CATEGORY (PACKAGES)*>
<!ATTLIST CATEGORY NAME CDATA>

<!ELEMENT PACKAGES (PACKAGE)*>

<!ELEMENT PACKAGE (NAME | VERSION | MINOR | ARCH | BYTESIZE | SUMMARY)*>

<!ELEMENT NAME (#PCDATA)>

<!ELEMENT VERSION (#PCDATA)>

<!ELEMENT MINOR (#PCDATA)>

<!ELEMENT ARCH (#PCDATA)>

<!ELEMENT BYTESIZE (#PCDATA)>

<!ELEMENT SUMMARY (#PCDATA)>

